
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Tarea</title>
    <h1 class="display-4 text-center mt-4 titulo">¡Hola, {{ usuario_actual.nombre }}!</h1>
</head>
<body>
    <h1>Editar Tarea</h1>
    <form method="POST">
        <label for="contenido_tarea">Contenido de la tarea:</label>
        <input type="text" name="contenido_tarea" value="{{ tarea.contenido }}" required>

        <label for="descripcion_tarea">Descripción de la tarea:</label>
        <textarea name="descripcion_tarea">{{ tarea.descripcion }}</textarea>

        <label for="fecha_limite">Fecha límite:</label>
        <input type="datetime-local" name="fecha_limite" value="{{ tarea.fecha_limite.strftime('%Y-%m-%dT%H:%M') if tarea.fecha_limite else '' }}">

        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="{{ url_for('detalles_tarea', tarea_id=tarea.id) }}">Volver a Detalles</a>
</body>
</html>